aniso8601==8.0.0
blinker==1.4
certifi==2019.11.28
Click==7.0
DateTime==4.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-RESTful==0.3.7
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mysql-connector==2.2.9
mysqlclient==1.4.6
numpy==1.18.0
pandas==0.25.3
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
SQLAlchemy==1.2.7
Werkzeug==0.16.0
wincertstore==0.2
xlrd==1.2.0
zope.interface==4.7.1
